.background{
    width: 100%;
    height: 100%;
    background-color: #F3F5F8;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.containerCardStatistic{
    margin-top: calc(2px + 25 * (100vw / 1920));
    width: calc(12px + 220 * (100vw / 1920));
    height: calc(16px + 250 * (100vw / 1920));
    border-radius: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgCarStatistic{
    width: calc(2px + 10 * (100vw / 1920));
    height: calc(6px + 10 * (100vw / 1920));
}

.titleCarStatistic{
    font-size: calc(0px + 20 * (100vw / 1920));
}

.backgroundLogoStatistic {
    width: calc(5px + 35 * (100vw / 1920));
    height: calc(5px + 35 * (100vw / 1920));
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}





/*car cards*/

.backgroundCarCards{
    height: calc(10px + 210 * (100vw / 1920));
    width: calc(15px + 274 * (100vw / 1920));
    border-radius: calc(4px + 10 * (100vw / 1920));
    padding: 15px 20px 15px 20px;
}

.flexTitleCarCardsSection{
    display: flex;
    align-items: center;
    margin-bottom: calc(6px + 4 * (100vw / 1920));

}
.car{
    height: calc(5px + 105 * (100vw / 1920));
}
.carContainer{
    width: 276px;
    height: 196px;
    border-radius: 14px;
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carImgStyle{
    width: calc(3px + 17 * (100vw / 1920));
    height: calc(3px + 17 * (100vw / 1920));
    margin: 0 calc(2px + 13 * (100vw / 1920)) 0 0;
}
.carFlex{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.t{
    width: 100%;
    margin: calc(0px + 9 * (100vw / 1920)) 0 calc(0px + 9 * (100vw / 1920)) 0;
    text-align: left;
    font-size: calc(1px + 17 * (100vw / 1920));
}
.textTitleCarCards{
    font-size: calc(0px + 15 * (100vw / 1920));
}


.flexApp{
    display: flex;
    background-color: #A66FF0;
}