/*Car Assets*/

.flexAssets{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.backgroundCarAssets{
    background-color: #438FFE;
    width: calc(20px + 320 * (100vw / 1920));
    height: calc(34px + 530 * (100vw / 1920));
    border-radius: calc(1px + 13 * (100vw / 1920));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgCarAssets{
    width: calc(26px + 230 * (100vw / 1920));
    margin-bottom: -100px;
}

.carFontAssets{
    font-size: calc(0px + 11 * (100vw / 1920));
    color: #C6DCFC;
}

.carFontAssetsForPrise{
    font-size: calc(0px + 14 * (100vw / 1920));
    color: white;
}
.width100{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




/*statistic*/
.circleAssets{
    width: 44px;
    height: 44px;
    border-radius: 22px;
    box-shadow:  1px 1px 4px black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statisticContainerAssets{
    width: 311px;
    height: 344px;
    border-radius: 14px;
    margin-right: 20px;
    background-color: white;
}
.backgroundScheduleAssets{
    width: 639px;
    height: 270px;
}